# What you will learn in this lesson

1. Defining functions

2. Variable scope

3. Documentation

4. Lamda expressions

5. high level functions

6. List comprehentions

# Funtions

A function is a block of codes that performs an action.

### Parts(components) of a function in python
* Function Header

The function header always starts with the def keyword, which indicates that this is a function definition.

Then comes the function name (cylinder_volume)

Immediately after the name are parentheses that may include arguments separated by commas which in our case are height and radius

Arguments, or parameters, are values that are passed in as inputs when the function is called, and are used in the function body. 

NB: If a function doesn't take arguments, these parentheses are left empty.

The header always end with a colon :.


* Funtion Body

The body of a function is the rest of the code after the header line.

Within this body, we can refer to the argument variables and define new variables, which can only be used within these indented lines.

The body will often include a return statement, which is used to send back an output value from the function to the statement that called the function.

NB: The body of a function may not contain a return stamentment but a print statement.

A return statement consists of the return keyword followed by an expression that is evaluated to get the output value for the function. 

If there is no return statement, the function simply returns None.

In [ ]:
x =[12,45,2,3,4,5,6]

In [ ]:
min(x)

In [ ]:
max(x)

In [ ]:
def empty_function(): # Empty function
    
    
    
    pass

In [ ]:
empty_function()

In [ ]:
# Example 1
def cylinder_volume(height,radius):#<----- function header
   
    pi = 3.14186
    return height*pi*radius**2     #<------ function body

In [ ]:
pi

In [ ]:
cylinder_volume(3,1.2)

In [ ]:
# height = 13
# radius = 7

cylinder_volume(13,7)

### Variable scope
This refers to which part of a program that a variable can be referenced or used from.

**Local variables**: they are variables that can only be accessed inside the funtion

**Global variables**: they are variables that can be accessed ouside a function.    

The **pi** in the cylinder volume function is a local variable.

In [ ]:
#pi # this variable has a local scope hence, cannot accessed outside the function

In [ ]:
pi_ = 22/7

In [ ]:
pi_ # Global scope

In [ ]:
# Example 2

def area_circle(radius):
    

    
    return pi_*radius**2

In [ ]:
area_circle(8)

In [ ]:
#Example 3
def bmi(height,weight):
    return weight/height**2

In [ ]:
bmi(1.6,56)

In [ ]:
bmi(1.9,69.78)

### Difference between print and return in a function

In [ ]:
def print_new_age(current_age,year):
    age = current_age +(year-2021)
    print(age)
    
    
def return_new_age(current_age,year):
    age = current_age +(year-2021)
    return age

In [ ]:
print_new_age(20,2087)

In [ ]:
return_new_age(20,2087)

In [ ]:
x = print_new_age(20,2087)

In [ ]:
print(x)

In [ ]:
x

In [ ]:
x/2 # This will produce an error

In [ ]:
y = return_new_age(20,2087)

In [ ]:
print(y)

In [ ]:
y/2

In [ ]:
def average_score(x):
    ave = sum(x)/len(x)
    return ave

def average_score_print(x):
    ave = sum(x)/len(x)
    print(ave)

In [ ]:
marks = [477,15,4597,45698,41,2.558,7849]

average_marks = average_score(marks)

In [ ]:
print(average_marks)

In [ ]:
marks = [477,15,4597,45698,41,2.558,7849]

average_marks_2 = average_score_print(marks)

In [ ]:
print(average_marks_2)

### arguments of a function

They are values passed as inputs to a function

In [ ]:
# default arguments

def cylinder_volume(height,radius,pi = 3.14186):
   
    return height*pi*radius**2

In [ ]:
cylinder_volume(5,1.4)

In [ ]:
# default arguments

def cylinder_volume(height,pi= 3.14186,radius): # This is wrong,non-default argument shouldn't follow default argument 
   
    return height*pi*radius**2

In [ ]:
cylinder_volume(23,4,22/7)

In [ ]:
cylinder_volume(23,4)

In [ ]:
cylinder_volume(4,23,22/7)

### passing arguments
1. By position
2. By name

In [ ]:
def bmi(height,weight):
    return weight/height**2

### By position
To call a function by position, the arrangement of the arguments matters

In [ ]:
bmi(1.76,65) # Calling a function by position

In [ ]:
bmi(65,1.76) # This is wrong

### By name
To call a function by name, the arrangement of the arguments does not matters

In [ ]:
bmi(height=1.76, weight=65) # calling a function by name

In [ ]:
bmi(weight=65,height=1.76 )

## Documentation Strings (Docstrings)

In [ ]:
def return_new_age(current_age,year):
    """
    Calculates the age of a person at a given year from 2021.
    
    INPUT:
    current_age: int, current age of the person.
    year: int, prefered year
    
    OUTPUT: 
    return_new_age: current_age +(year-2021), returns age of the person at the given year from 2021
    
    """
    age = current_age +(year-2021)
    return age

In [ ]:
return_new_age(20,2087)

In [ ]:
help(return_new_age)

In [ ]:
def bmi(height,weight):
    """
    This function calculates the bmi of a person
    
    INPUT:
    height:float or int,height of a person in meters
    weight: float or int,weight of a person in kilograms
    """
    return weight/height**2

In [ ]:
bmi(1.7,59)

In [ ]:
help(bmi)

In [ ]:
return_new_age() # put the curser inside the bracket and press shift+tab to view the docstring

In [ ]:
?return_new_age

In [ ]:
help(print)

In [ ]:
?print

## Lamda expressions (Anonymous functions)

#### Components of a Lambda Function

The lambda keyword is used to indicate that this is a lambda expression.

Following lambda are one or more arguments for the anonymous function separated by commas, followed by a colon :. Similar to functions, the way the arguments are named in a lambda expression is arbitrary.

Last is an expression that is evaluated and returned in this function. This is a lot like an expression you might see as a return statement in a function.

With this structure, lambda expressions arenâ€™t ideal for complex functions, but can be very useful for short, simple functions.

Lamda expressions are used to create anonimous functions(functions that do not have names)

In [ ]:
def square(x):
    return x**2

square(6)

In [ ]:
lambda x: x**2

In [ ]:
lambda price,quantity,cost:(price*quantity)-cost

In [ ]:
n = [12,4,5,6,3,4,67,8,9]

In [ ]:
square_lambda = lambda x: x**2

In [ ]:
square_lambda(6)

In [ ]:
lambda_bmi=lambda height,weight : weight/height**2

In [ ]:
lambda_bmi(1.7,64)

In [ ]:
lambda_bmi(weight=64,height=1.7) # you call lambda expressions explicitly (thus names)

In [ ]:
square=lambda argument: argument**2

In [ ]:
square(6)

In [ ]:
BMI=lambda w,h: w/h**2

In [ ]:
BMI(62,1.5)

### some important higher-order built-in functions

1. map()

**map()** is a higher-order built-in function that takes a 

function and iterable as inputs, and returns an iterator that 

applies the function to each element of the iterable.



2.**filter()** is a higher-order built-in function that takes a 

function and iterable as inputs and returns an iterator with 

the elements from the iterable for which the function returns 

True.

### map()

In [2]:
numbers = [ [34, 63, 88, 71, 29],[90, 78, 51, 27, 45], [63, 37, 85, 46, 22], [51, 22, 34, 11, 18]]

In [13]:
# using the for loop
# solution 1
for i in range(len(numbers)):
    
    print(sum(numbers[i])/len(numbers[i]))

57.0
58.2
50.6
27.2

In [11]:
for i in numbers:
    print(i)

[34, 63, 88, 71, 29]
[90, 78, 51, 27, 45]
[63, 37, 85, 46, 22]
[51, 22, 34, 11, 18]

In [14]:
# using the for loop
# solution 2
for i in numbers:
    print(sum(i)/len(i))

57.0
58.2
50.6
27.2

In [76]:
# Solution 3

for i,marks in enumerate(numbers):
    print(sum(numbers[i])/len(numbers[i]))

57.0
58.2
50.6
27.2

In [15]:
def average_score(x):
    return sum(x) / len(x)

In [16]:
numbers[0]

[34, 63, 88, 71, 29]

In [17]:
average_score(numbers[0])

57.0

In [21]:
map(average_score,numbers)

In [22]:
list(map(average_score,numbers))

[57.0, 58.2, 50.6, 27.2]

In [23]:
map(min,numbers)

In [24]:
list(map(min,numbers))

[29, 27, 22, 11]

In [25]:
list(map(max,numbers))

[88, 90, 85, 51]

In [26]:
tuple(map(max,numbers))

(88, 90, 85, 51)

In [27]:
set(map(max,numbers))

{51, 85, 88, 90}

### Using lambda functions with map()

In [28]:
n = [12,4,5,6,3,4,67,8,9]

In [29]:
list(map(lambda x:x**2,n))

[144, 16, 25, 36, 9, 16, 4489, 64, 81]

In [30]:
y = list(map(lambda x:x**2,n))

In [31]:
y

[144, 16, 25, 36, 9, 16, 4489, 64, 81]

In [32]:
team_points=[87,45,67,90,100,12,35,89,55,55]

In [33]:
def add_8(value_list):
    return value_list+8

In [34]:

team_points_8 = list(map(add_8,team_points))
team_points_8

[95, 53, 75, 98, 108, 20, 43, 97, 63, 63]

In [36]:
mean_l = lambda nums:sum(nums)/len(nums)

ave = list(map(mean_l,numbers))
print(ave)

[57.0, 58.2, 50.6, 27.2]

In [37]:
ave = list(map(lambda nums:sum(nums)/len(nums),numbers))
print(ave)

[57.0, 58.2, 50.6, 27.2]

### filter()

In [47]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

def is_short(name):
    return len(name) <10

In [48]:
is_short(cities[0])

False

In [49]:
is_short(cities[2])

True

In [50]:
short_cities = list(filter(is_short, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

In [51]:
is_less = lambda name: len(name) < 10
less_cities = list(filter(is_less,cities))
print(less_cities)

['Chicago', 'Denver', 'Boston']

## Zip and Enumerate

## zip()

**zip** and **enumerate** are useful built-in functions that can come in handy when dealing with loops.
They help to simplify tasks.

**zip** returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables.

### zip()

In [59]:
country = ['Ghana','Togo','Nigeria','Ivory Coast','South Africa']

capital = ['Accra', 'Lome', 'Abuja','Abidjan','Johannesburg']

currency = ['Cedis','CFA','Naira','CFA','Rand']

In [ ]:
#(1,'a'),(2,'b') (3,'c')

In [60]:
zip(country,capital,currency)

In [61]:
list(zip(country,capital,currency))

[('Ghana', 'Accra', 'Cedis'),
 ('Togo', 'Lome', 'CFA'),
 ('Nigeria', 'Abuja', 'Naira'),
 ('Ivory Coast', 'Abidjan', 'CFA'),
 ('South Africa', 'Johannesburg', 'Rand')]

In [62]:
#example
list(zip(['a', 'b', 'c'], [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

In [63]:
l = ('a','e','r','t')
n =(3,4,5,6,)

In [64]:
list(zip(l,n))

[('a', 3), ('e', 4), ('r', 5), ('t', 6)]

### Using the for loop with zip

In [67]:
countries = ['Ghana','Togo','Nigeria','Ivory Coast','South Africa']

capitals = ['Accra', 'Lome', 'Abuja','Abidjan','Johannesburg']

currencies = ['Cedis','CFA','Naira','CFA','Rand']

In [69]:
for country,capital,currency in zip(countries,capitals,currencies):
    print("{} : {} : {} ".format(country,capital,currency))

Ghana : Accra : Cedis
Togo : Lome : CFA
Nigeria : Abuja : Naira
Ivory Coast : Abidjan : CFA
South Africa : Johannesburg : Rand

### Unzipping

In [71]:
my_list = [('a', 1), ('b', 2), ('c', 3)]

letters, nums = zip(*my_list)              # To unzip a data structure bring a * before the input.

In [72]:
letters

('a', 'b', 'c')

In [73]:
nums

(1, 2, 3)

### Enumerate()

**enumerate** is a built in function that returns an iterator 

of tuples containing indices and values of a list.

You'll often use enumerate when you want the index along with each 

element of an iterable in a loop.

In [74]:
letters = ['a', 'b', 'c', 'd', 'e']
list(enumerate(letters))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [78]:
tuple_1 = (67,65,90,87) # tuple unpacking
x,y,z,s = tuple_1

In [80]:
print(x)
print(y)
print(z)
print(s)

67
65
90
87

In [75]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e

### List Comprehentions

List comprehensions allow us to create a list using a for loop in one step.

You create a list comprehension with brackets [ ], including an expression to evaluate for each element in an iterable.

In [81]:
# List comprehension format: 
# [expression followed by iterable or iteration]
#Eg:


squares = [x**2 for x in range(1,10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
squares = []
for i in range(1,10):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Conditionals in List Comprehensions

You can also add conditionals to list comprehensions (listcomps).

After the iterable, you can use the if keyword to check a condition in each iteration.

In [83]:
# Conditional list comprehension without 'else' format: 
# [exprssion followed by iterable followed by condition]
# Eg:
squares = [x**2 for x in range(1,10) if x % 2 == 0]
print(squares)

[4, 16, 36, 64]

Conditional List Comprehensions that includes 'else' in the

condition have a different format.

In cases like this you have to move the conditionals to the beginning of

the listcomp, right after the expression.

In [84]:
# Conditional list comprehension without 'else' format: 
# [exprssion followed by condition followed by else condition followed by iterable]
# Eg:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(1,10)]
print(squares)

[4, 4, 6, 16, 8, 36, 10, 64, 12]

## Exercise

### Question 1

Use a list comprehension to create a new  list called first_names containing just the first names in the list names in lowercase.

In [85]:
names = ['Ama Frimpong','Agyemang Duah','Kwesi Amstrong','Patrick Mensah', 'Emmanuel Doe', 'Nelson Tettey']

In [90]:
names[0].split()[0].lower()

'ama'

In [ ]:
first_names = [names[i].split]

In [98]:
#Solution

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['ama', 'agyemang', 'kwesi', 'patrick', 'emmanuel', 'nelson']

In [99]:
names = ['Ama Frimpong','Agyemang Duah','Kwesi Amstrong','Patrick Mensah', 'Emmanuel Doe', 'Nelson Tettey']

In [100]:
names

['Ama Frimpong',
 'Agyemang Duah',
 'Kwesi Amstrong',
 'Patrick Mensah',
 'Emmanuel Doe',
 'Nelson Tettey']

In [101]:
for name in names:
    print(name.split()[0].lower())

ama
agyemang
kwesi
patrick
emmanuel
nelson

### Question 2
Use a list comprehension to create a list called multiples_3, containing the first 20 multiples of 3.

In [102]:
# solution
multiples_3 =[i*3 for i in range(1,21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

### Question 3

Use a list comprehension to create a list of names passed that only include those that scored at least 65.

In [104]:
scores = {
             "Rick Ampofo": 70,
             "Morty Smith": 35,
             "Samuel Sarpong": 82,
             "Jerry Rawlings": 23,
             "Bethilda Great": 98
          }

In [105]:
passed =[name for name,score in scores.items() if score >= 65] 
print(passed)

['Rick Ampofo', 'Samuel Sarpong', 'Bethilda Great']

In [106]:
# solution
passed =[(name,score) for name,score in scores.items() if score >= 65] 
print(passed)

[('Rick Ampofo', 70), ('Samuel Sarpong', 82), ('Bethilda Great', 98)]

In [ ]:
z = scores.items()