# Loops

for loop

while loop

break

continue

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [2]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
numbers[2]**2

9

In [8]:
for i in numbers:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [9]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [10]:
for number in numbers:
    if number%2 == 0:
        print(number**2)
    else:
        print("{} is an odd number".format(number))

1 is an odd number
4
3 is an odd number
16
5 is an odd number
36
7 is an odd number
64
9 is an odd number
100

In [11]:
 # for loop
books=['Matthew','Mark','Luke','John','Acts']

for book in books:
    print(book)

Matthew
Mark
Luke
John
Acts

In [15]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [13]:
a =range(3)

In [14]:
a

range(0, 3)

In [12]:
range(0,10)

range(0, 10)

In [16]:
for i in range(10):
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [17]:
# Another for loop
gospel=['Matthew','Mark','Acts','Luke','John','Hebrews','Romans']

for book in gospel:
    if book == 'Acts':
        print(f'{book} is not part of the gospels')
        
    elif book == 'Hebrews':
        print(f'{book} is not part of the gospels')
        
    elif book == 'Romans':
        print(f'{book} is not part of the gospels')
            
            
    else:
        print(book)

Matthew
Mark
Acts is not part of the gospels
Luke
John
Hebrews is not part of the gospels
Romans is not part of the gospels

In [19]:
# Another for loop
gospel=['Matthew','Mark','Luke','John','Acts']

for book in gospel:
    print(book.upper())

MATTHEW
MARK
LUKE
JOHN
ACTS

In [20]:
numbers = [23,34,56,7,3,5,89,90,876,567,45,324,67,8,8,9,45,3,9,11,25,65,82,76,73]

In [21]:
len(numbers)

25

In [23]:
for number in numbers:
    if number>70:
        print(number)

89
90
876
567
324
82
76
73

Write a for loop that iterates over the names list to create a usernames list. 

To create a username for each name, make everything lowercase and replace spaces with underscores.

In [48]:
names = ["Joe Mettle", "Monica Acheampong", "Chandler Wimbe", "Lady Phoebe", "Knii Amponsah","Bernard Boakye Yiadom","Henry Ayitey"]

In [ ]:
names[0]
names[1]
names[2]

In [36]:
names

['Jessica',
 'Monica Acheampong',
 'Chandler Wimbe',
 'Lady Phoebe',
 'Knii Amponsah',
 'Bernard Boakye Yiadom',
 'Henry Ayitey']

In [26]:
names[1].lower().replace(' ','_')

'monica_acheampong'

In [31]:
for i in names:
    names[i].lower().replace(' ','_')

TypeError: list indices must be integers or slices, not str

In [ ]:
names[0] = names[0].lower().replace(' ','_')

In [ ]:
names

In [ ]:
len(names)

In [ ]:
for i in range(len(names)):
    print(i)

In [ ]:
names[6]

In [37]:
usernames = []

In [38]:
usernames.append('Jessica')

In [39]:
usernames

['Jessica']

In [ ]:
0,1,........6

In [52]:
# solution
usernames = []

for i in range(len(names)):
    
    a = names[i].lower().replace(' ','_')
    
    usernames.append(a)
    
print(usernames)

['joe_mettle', 'monica_acheampong', 'chandler_wimbe', 'lady_phoebe', 'knii_amponsah', 'bernard_boakye_yiadom', 'henry_ayitey']

In [42]:
# modifying the list instead

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for name in names:
    name = name.lower().replace(' ','_')
    print(name)

joey_tribbiani
monica_geller
chandler_bing
phoebe_buffay

In [ ]:
names

### Counting

In [45]:
tokens = ['<greeting>', 'Hello World!','<colour','</greeting>','<strong>','Bold','</strong>']

count = 0

for token in tokens:
    if token[0] == '<' and token[-1] == '>':
        count += 1
print(count)

4

##### Count the names with 6 letters in the list called students

students = ["Joe", "Mettle", "Monica","Acheampong", "Chandler","Wimbe", "Lady","Phoebe", "Afrakoma","Amponsah"]

In [57]:
students = ["Joe", "Mettle", "Monica","Acheampong", "Chandler","Wimbe", "Lady","Phoebe", "Afrakoma","Amponsah"]

In [60]:
count = 0
for student in students:
    if len(student) == 6:
        count+=1
print(count)

3

### Building Dictionaries using the for loop and the get method

In [75]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

# Task
# Build a dictionary containing the words in the list and the number of times each appeared in the list.
# Alternatively , count the number times each word appeas in the list.

### solution 1 (using the for loop)

word_count = {}

for word in book_title:
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] += 1
print(word_count)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [77]:
score = {'Joejoe':12,'Ama':10,'Adam':15}

In [ ]:
word_count['great'] = 1

In [85]:
score['Dominic'] += 1

In [86]:

score

{'Joejoe': 12, 'Ama': 10, 'Adam': 15, 'Dominic': 15}

In [93]:
#solution2 (using the get method)

print()
print('Using the get method:')

No_of_words = {}
for word in book_title:
    No_of_words[word] = No_of_words.get(word,0)+1
print(No_of_words)

Using the get method:
{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [87]:
score = {'Joejoe':12,'Ama':10,'Adam':15}

In [88]:
score['Domenic']

KeyError: 'Domenic'

In [92]:
print(score.get('Dominic',100))

100

In [94]:
score

{'Joejoe': 12, 'Ama': 10, 'Adam': 15}

In [95]:
word_count.values()

dict_values([2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1])

In [96]:
list(word_count.keys())

['great',
 'expectations',
 'the',
 'adventures',
 'of',
 'sherlock',
 'holmes',
 'gasby',
 'hamlet',
 'huckleberry',
 'fin']

## while loop (infinite loop)

In [98]:
#while 1<2:
    #print('Kelden')

In [122]:
marks = 15

while marks > 10:
    print("Hurray!!!!")
    marks-=1

Hurray!!!!
Hurray!!!!
Hurray!!!!
Hurray!!!!
Hurray!!!!

In [101]:
a = 0
while a<10:
    print(a**2)
    a+=1

0
1
4
9
16
25
36
49
64
81

## break and continue

In [127]:
# Break
# Break ends the loop at a specified point
New_testament=['Matthew','Mark','Luke','John','Acts','Romans','1st Chorinthians']
for book in New_testament:
    gospel = []
    if book == 'John':
        #print(f'{book} Hei!, John is the last gospel')
        break
    else:
        gospel.append(book)
        print(gospel)

['Matthew']
['Mark']
['Luke']

In [ ]:
for i in range(1,10):
    if i == 6:
        print('we are on the sixth square.')
        break
    
    else:
        print(i**2)

In [120]:
for i in range(1,10):
    if i == 6:
        print('we are on the sixth square...skipping')
        continue
    
    else:
        print(i**2)

1
4
9
16
25
49
64
81

In [128]:
# Task: write a programme(codes) that will load poducts into a 100tonks capacity ship. 
# The ship cannot take load beyond its capacity.



# Solution

agri_products = [("bananas", 15), ("maize", 24), ("beans", 42), ("yam", 120), ("plantain", 5),("pepper",10)]

weight = 0
items = []
for product, product_weight in agri_products:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + product_weight > 100:
        print("  skipping {} ({})".format( product, product_weight))
        continue
    else:
        print("  adding {} ({})".format( product, product_weight))
        items.append(product)
        weight += product_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

current weight: 0
  adding bananas (15)
current weight: 15
  adding maize (24)
current weight: 39
  adding beans (42)
current weight: 81
  skipping yam (120)
current weight: 81
  adding plantain (5)
current weight: 86
  adding pepper (10)

Final Weight: 96
Final Items: ['bananas', 'maize', 'beans', 'plantain', 'pepper']

In [117]:
for item, item_weight in agri_products:
    print(item)
    print(item_weight)

bananas
15
maize
24
beans
42
yam
120
plantain
5
pepper
10